h1{
  text-align: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(14, 13, 13);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f7f3f3;
}

.active {
  background-color: #04AA6D;
}